*{padding: 0px;margin: 0px;}
body{padding: 0px;margin: 0px;}
.Header{background-image: url('../img/backround-1.png');height: 700px;}
.Header img{padding-top: 25px;}
.Header .menubar{width: 100%;}
.Header .menubar ul{padding-top: 25px;width: 100%;}
.Header .menubar ul li{display: inline-block;font-size: 10px;}
.Header .menubar ul li a{color: white;text-decoration: none;border-radius: 12px;padding: 10px 10px;display: block;}
.Header .menubar ul li a:hover{background-color: #ffc61a;}
.Header h4{color: #ffc61a;padding-top: 50px;text-align: center;}
.Header h1{color: white;text-align: center;}
.Header p{color: white;text-align: center;text-transform: uppercase;letter-spacing: 10px;}
.Header .car{}

.main_area{background-color: #ffc61a;height: 550px;}
.main_area h4{margin-top: 90px;}
.main_area h1{padding-top: 0px;text-transform: uppercase;}
.main_area p{padding-bottom: 30px;}
.main_area a{background-color: black;color: white;border-radius: 6px;padding: 10px 10px;text-decoration: none;}

.main_area .black{background-color: black;padding:10px 20px;color: white;margin-top: 100px;margin-left: 50px;margin-right:50px;}
.main_area .black h2{text-transform: uppercase;padding-left: 50px;}
.main_area .white{background-color: white;padding: 10px 20px;margin-left: 50px;margin-right:50px;}

.main_area .white input[type='text']{border-bottom:1px solid gray;border-top: none;border-right: none;border-left: none;width: 100%;margin-top: 20px;}
.main_area .white input[type='submit']{width: 100%;height:40px;border-radius: 5px;background-color: black;color: white;margin-top: 20px;margin-bottom: 40px;}



.tariffs{height: 700px;background-color: white;}
.tariffs h3{color: #ffc61a;text-align: center;font-weight: bold;padding-top: 40px;}
.tariffs h1{color: black;text-align: center;font-weight: bold;}

.tariffs .car_3{background-color:#f5f4f2; margin-top: 150px;height: 320px; margin-left: 10px;margin-bottom: 50px;}
.tariffs .car_3 img{margin-top: -110px;}
.tariffs .car_3:hover{background-color: #ffc61a}
.tariffs .car_3:hover > h1{color: black;}
.tariffs .car_3:hover > a{background-color: black;color: white;}
.tariffs .car_3 h4{font-weight: bold;text-transform: uppercase;text-align: center;}
.tariffs .car_3 p{text-align: center;margin-left: 40px;}
.tariffs .car_3 h1{color: #ffc61a;margin-bottom: 20px;}
.tariffs .car_3 a{background-color: #ffc61a; color: black;border-radius: 6px; text-decoration: none; margin-left: 120px; padding: 7px 7px;}

.choose{background-image: url('../img/choose.png');height: 500px;width: 100%;background-size: cover;}

.choose h3{font-weight: bold;color: #ffc61a;text-transform: uppercase;padding-top:20px;text-align: center;}
.choose h1{font-weight: bold;color: white;text-transform: uppercase; margin-bottom: 50px;text-align: center;}

.choose .ell {padding-bottom: 80px;}
.choose .ell .ellips img{margin-left: 80px;}
.choose .ell .ellips h5{color: #ffc61a;text-transform: uppercase;font-weight: bold;}
.choose .ell .ellips p{color: white;margin-right: 7px;}
.choose .ell a{background-color:  #ffc61a;text-align: center; margin: 0px auto;display: block; padding:7px 7px;border-radius: 6px;text-decoration: none;color: black;font-weight: bold;}


.Mobile{background-color: white;height: auto;}
.Mobile h4{text-align: center;margin-top: 50px;color: #ffc61a;}
.Mobile h3{text-align: center;font-weight: bold;text-transform: uppercase;}
.Mobile .uni{margin-top: 50px;}
.Mobile .uni h5{font-weight: bolder;margin-left: 110px;}
.Mobile .uni p{margin-left: 110px;margin-top: 10px;}
.Mobile .uni .ex{margin-left: 100px;margin-top:20px; }
.Mobile .uni .ex img{height: 50px;margin-left: 10px;}
.Mobile img{margin-left: 70px; margin-top: 50px;}



.testimonial{background-image: url(../img/backround-3.png);height: auto;}
.testimonial h3{text-align: center; color: #ffc61a;text-transform: uppercase;padding-top: 60px;}
.testimonial h1{text-align: center; color: white;}
.testimonial .part{margin-left: 30px;background-color: black;border-radius: 30px;height: 200px;margin-bottom: 150px;}
.testimonial .part p{color: white; margin-left: 40px;margin-top: 90px;padding-top: 20px;}
.testimonial .part img{margin-left: 40px;padding: 0px 0px;}
.testimonial .part h4{color: #ffc61a;text-transform: uppercase; padding: 0px 0px;}
.testimonial .part h6{color: white;text-transform: uppercase;}


.rent{background-color: #ffc61a;height: 200px;}
.rent h3{text-align: center;text-transform: uppercase;font-weight: bold;margin-top: 1px;padding-top: 40px;}
.rent h1{text-align: center;font-weight: bold}


.end{background-image: url(../img/backround-4.png);height: 400px;}
.end h5{color: white;text-transform: uppercase;margin-top: 40px;}
.end p{color: white;margin-top: 40px;}

.end .log{}
.end .log ul{margin:0px; padding: 0px;}
.end .log ul li{display: inline-block;list-style-type: none;margin-left: 2%;}
.end .log ul li a{color: #ffc61a;}


.end .log_2{margin-left: 30px;}
.end h6{color: #ffc61a;}
.end .log_2 a{color: white;}